html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background:#f4f4f4;
}

.container {
	background: #fffce1;
}

.menu-wrap a {
	color: #f4f4f4;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #fffce1;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.content {
	position: relative;
	background: #f4f4f4;
	padding-bottom: 12em;
}

/* Common styles for menu button and menu-wrap */
.menu-button,
.menu-wrap {
	position: fixed;
	width: 2.5em;
	height: 2.25em;
	font-size: 1.5em;
	-webkit-transform: translate3d(1.5em,1.5em,0);
	transform: translate3d(1.5em,1.5em,0);
}

/* Menu Button */
.menu-button {
	z-index: 1000;
	margin: 0;
	padding: 0;
	border: none;
	text-indent: 2.5em;
	color: transparent;
	background: #3E3C36;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#f4f4f4 20%, transparent 20%, transparent 40%, #fffce1 40%, #fffce1 60%, transparent 60%, transparent 80%, #fffce1 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Menu */
.menu-wrap {
	z-index: 999;
	background: #3E3C36;
	-webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
	transition: width 0.4s, height 0.4s, transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu {
	height: 100%;
	overflow: hidden;
	font-size: 0.75em;
}

.icon-list {
	float: right;
	padding: 2.5em 2em 0 6em;
}

.icon-list a {
	opacity: 0;
	display: inline-block;
	padding: 0 0.2em;
	margin: 0 15px;
	text-align: center;
	font-size: 1.2em;
}

.icon-list a span {
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.5em;
	font-weight: 700;
	padding-top: 0.5em;
}

@media screen and (max-width: 50em) {
	.icon-list a {
		padding: 0.5em 0em;
		margin: 0 5px;
		font-size: 1em;
	}
	.icon-list a span {
		display: none;
	}
}

/* Shown menu */
.show-menu .content-wrap {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate3d(0,125px,0);
	transform: translate3d(0,125px,0);
}

.show-menu .menu-wrap {
	width: 100%;
	height: 125px;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.show-menu .icon-list a {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.4s;
	transition: opacity 0.4s 0.4s;
}

.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay: 0.42s;
	transition-delay: 0.42s;
}

.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay: 0.44s;
	transition-delay: 0.44s;
}

.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
}

.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700,800);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #b4bad2;
	color: #fffce1;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #4e4a46;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #c94e50;
	outline: none;
}

button:focus {
	outline: none;
}

section {
	padding: 1em;
	text-align: center;
}

body #cdawrap {
	top: auto;
	bottom: 35px;
	right: 35px;
	background: #b4bad2;
	border: 1px solid rgba(131,135,151,0.6);
}

.demo-wave body #cdawrap {
	top: 35px;
	right: 35px;
	bottom: auto;
}


.content-c
{
	margin: 35px;
	position: absolute;
	left: 0;
	right: 0;
	width: 95%;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* /////////////////////////////////////////////////////  */
/* ////////////////////// Typedjs  ////////////////////// */
/* /////////////////////////////////////////////////////  */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #5BD9B3;
    background-color: #5BD9B3;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* /////////////////////////////////////////////////////  */
/* ////////////////////// Sections ////////////////////// */
/* /////////////////////////////////////////////////////  */

#home
{
	min-height: 700px;
	width: 100%;
	position: relative;
}

#homeAd1
{
	position: absolute;
	width: 100%;
	height: 600px;
	left: 0;
	top: 0;
	background: url(../imgs/bg1.jpg);
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
}

#homeAd2
{
	position: absolute;
	width: 45%;
	height: 300px;
	top: 550px;
	left: 5%;
	background-color: #fff;
	z-index: 10;
}
#homeAd3
{
	position: absolute;
	width: 45%;
	height: 325px;
	top: 500px;
	right: 5%;
	background-color: #3e3c36;
	z-index: 10;
}
#homeAd4
{
	position: absolute;
	width: 50%;
	height: 550px;
	top: 50px;
	right: 0;
	background-color: rgba(255,255,255,0.10);
}
#homeAdLogo
{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-color: #f4f4f4;

	position: absolute;
	top: 650px;
	left: 50%;
	margin-left: -50px;
	z-index: 15;
}

.element
{
	color: #fff;
	font-size: 4em;
	text-align: left;
	padding-top: 150px;
	padding-left: 75px;
	font-family: 'Raleway', sans-serif;
}

/* /////////////////////////////////////////////////////  */
/* ////////////// // Media Queries ////////////////////// */
/* /////////////////////////////////////////////////////  */


@media screen and (max-width: 40em) {
	body {
		font-size: 80%;
	}
	.codrops-header h1 {
		font-size: 2.5em;
	}
	.codrops-demos {
		max-width: 900px;
		padding: 2em 2em 0;
	}
	.related > a {
		margin: 20px 0;
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon {
		font-size: 250%;
	}

	.codrops-icon span {
		display: none;
	}

}