/*/////////////////////////////////////////*/
/*//////////// Backgrounds ////////////////*/
/*/////////////////////////////////////////*/

.bg1
{
	background: #071621;
}
.bg2
{
	background: rgb(213, 57, 42);
}
.bg3
{
	background: rgb(235, 202, 112);
}
.bg4
{
	background: #fff;
}
.bg5
{
	background: rgba(20,20,20,0.8);
}
.bg1-1
{
	background-color: rgba(5,5,20,0.8);
}
.bg2-1
{
	background-color: rgba(190, 45, 31,0.8);
}
.bg3-1
{
	background-color: rgba(234, 196, 98,0.8);
}
.bg1-1:hover
{
	background-color: rgba(5,5,20,0.9);
}
.bg2-1:hover
{
	background-color: rgba(190, 45, 31,0.9);
}
.bg3-1:hover
{
	background-color: rgba(234, 196, 98,0.9);
}
/*/////////////////////////////////////////*/
/*//////////// Colours ////////////////*/
/*/////////////////////////////////////////*/

.col1
{
	color: #fff;
}
.col2
{
	color: #000;
}
.col3
{
	color: #ebca70;
}