*
{
	box-sizing: border-box;
}
body
{
	margin: 0;
}
h1,h2,h3,h4,h5,h6,p,a
{
  font-family: 'Raleway', sans-serif;
}

.trans
{
  transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -o-transition:all 0.2s;
}
a
{
  text-decoration: none !important; 
}

/*/////////////////////////////////////////*/
/*//////////// Navigation ////////////////*/
/*/////////////////////////////////////////*/

.navigation
{
	height: 763px;
	width: 15%;
	position: fixed;
	left: 0;
	top: 0;
  z-index: 500;
}
.navhr
{
  height: 50px !important;
  width: 100px;
  opacity: 0.4;
  display: block;
  margin: auto;
}
.navigation ul
{
  padding: 0;
  margin: 0;
  margin-top: 50px;
}
.navigation img
{
  height: 100px;
  width: 100px;
  margin: 20px auto;
  display: block;
}
.navigation ul li
{
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navigation ul li a
{
  text-decoration: none;
  color: #486c8a;
}
.navigation ul li a:hover
{
  color: #ebca70;
}
.navigation hr
{
  opacity: 0.2;
  width: 50px;
  display: block;
  margin: auto;
}
.close
{
  position: absolute;
  top: 20px;
  right: 20px;
}



/*/////////////////////////////////////////*/
/*//////////////// Content ////////////////*/
/*/////////////////////////////////////////*/


.content
{
	margin-left: 15%;
	min-height: 900px;
	width: 85%;
	position: relative;
}



/*/////////////////////////////////////////*/
/*//////////////// Home ////////////////*/
/*/////////////////////////////////////////*/

.screen
{
	min-height: 600px;
}

.slidebox
{
  position: relative;
  width: 100%;
  height: 660px;
  overflow: hidden;
}
.slidebox img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition:all 0.8s;
  -webkit-transition:all 0.8s;
  -moz-transition:all 0.8s;
  -o-transition:all 0.8s;
}

.slider-overlay
{
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 660px;
	background-color: rgba(7, 22, 33, 0.75);
}

.slider-overlay h1
{
  font-size: 2em;
  font-weight: 200;
}
.slider-overlay section
{
	width: 250px;
	display: block;
	min-height: 300px;
	margin: 120px auto;
}
.slider-overlay section img
{
	width: 250px;
	position: static;
	display: block;
}
.downbtn
{
  position: absolute;
  z-index: 200;
  padding: 30px;
  color: white;
  display: block;
  margin: 0 auto;
  bottom: 0;
  left: 45%;
  cursor: pointer;

    transition:all 0.8s;
  -webkit-transition:all 0.8s;
  -moz-transition:all 0.8s;
  -o-transition:all 0.8s;
}
.downbtn:hover
{
  transform:translateY(10px);
  -webkit-transform:translateY(10px);
  -moz-transform:translateY(10px);
  -o-transform:translateY(10px);
}
@keyframes prog
{
  0% {width: 0;}
  100% {width: 100%;}
}
@-webkit-keyframes prog
{
  0% {width: 0;}
  100% {width: 100%;}
}
.progress
{
  height: 3px;
  position: absolute;
  z-index: 200;
  top: 0;
  animation-name: prog;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  -webkit-animation-name: prog;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
}
.trending
{
  height: 660px;
}
.sects
{
  height: 660px;
  padding-left: 0 !important;
}
.sects ul
{
  margin: 0;
  padding: 0;
}
.sects li
{
  height: 220px;
  display: block;
  position: relative;
  overflow: hidden;
}
.sects li img
{
  position: absolute;
  z-index: 10;
  height: 110%;
  width: 110%;
  display: block;
  margin: auto;
}
.sects li a
{
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
}
.btnbg *
{
  text-decoration: none;
}
.btnbg h3
{
  font-weight: 500;
  font-size: 2.5em;
  display: block;
  text-align: center;
  margin-bottom: 10px; 
}
.menuhr
{
  width: 150px !important;
  height: auto !important;
  display: block !important;
  margin: 0 auto !important;
  position: static !important; 
}
.btnbg h6
{
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.news_img_holder
{
  border-radius: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 200px;
  width: 200px;
  display: block;
  margin: 75px auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.news_img_holder img
{
  height: 100%;
}
.news_content h1
{
  text-align: center;
  font-size: 2em;
}
.news_content h3
{
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
}
.news_content
{
  padding: 2em 2em 0 2em;
}
.morebtn
{
  padding: 1.5em;
  margin: 2em auto;
  display: block;
  text-align: center;
  max-width: 200px;
}
.morebtn:hover
{
  background-color: #071621;
}


