/*///////////////////

color scheme: white(#fff), orange ( rgb(247, 147, 29) );




/////////////////////*/



html,body
{
	margin: 0;
	padding: 0;
}
p,h1,h2,h3,h4,h5,h6,a,div
{
	font-family: 'Open Sans', sans-serif;
}
a
{
	text-decoration: none;
	color: #000;
}
body
{
	background-image: url('../img/bg1.jpg');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}
section
{
	width: 100%;
}
nav
{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
div,a,section
{
	box-sizing: border-box;
}


#home
{
	min-height: 700px;
	background: rgba(0,0,0,0.15);
	padding-top: 100px;
	color: #fff;
	font-weight: 200;
}
#searchbox
{
	padding: 1em;
	margin: 15px;
	min-width: 500px;
	background: rgba(256,256,256,0.2);
}

.nav-ht
{
	height: 70px;
	vertical-align: middle;
}
.shopbtn
{
	padding:1.5em 2.5em;
	background: #fff;
	font-size: 1.1em;
	font-weight: 200;
	display: inline-block;
}

.trans
{
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
}
.shopbtn *,.loginbtn *
{
	display: inline;
}
.loginbtn
{
	padding:1.5em 2.5em;
	background: rgb(247, 147, 29);
	color: #fff;
	font-size: 1.1em;
	font-weight: 200;
	display: inline-block;
}
.shadow
{
	-webkit-box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    4px 4px 13px 0px rgba(50, 50, 50, 0.45);
box-shadow:         4px 4px 13px 0px rgba(50, 50, 50, 0.45);
}

.loginbtn:hover, .shopbtn:hover
{
	transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-o-transform: translateY(-15px);
}


/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////  TypesJs cursor styles  ///////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


.typed-cursor{
            opacity: 1;
            color: rgb(247, 147, 29);
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*////////////////  Home  //////////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

.home-content
{
	width: 800px;
	display: block;
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	font-weight: 200 !important;
}
.home-content h1
{
	font-size: 5em;
	font-weight: 200 !important;
}
.home-content h3
{
	font-size: 2em;
	font-weight: 200 !important;
}
.home-content form input[type=text]
{
	background: rgba(256,256,256,0.4);
	border: 1px solid #fff;
	padding: 0.7em;
	min-width: 500px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 200;
}
.home-content form button[type=submit]
{
	background: rgb(247, 147, 29);
	border: none;
	padding: 0.7em 2em;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 200;
}
.home-content form button[type=submit]:hover
{
	background: #d37810;
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*////////////////  Featured  /////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


#featured
{
	min-height: 700px;
	background-color: rgb(256,256,256);
}
.grid
{
	overflow: hidden;
	min-height: 600px;
	margin-top: 100px;
	margin-bottom: 75px;
}
.lrg,.mdm,.sml
{
	background: #afafaf;
	margin: 10px;
}
.lrg
{
	height: 400px;
	width: 400px;
}
.mdm
{
	height: 190px;
	width: 190px;
}
.sml
{
	height: 130px;
	width: 130px;
}
#featured h1
{
	text-align: center;
	margin: 0;
	padding-top: 50px;
	font-size: 2em;
	font-weight: 200;
}
.imgholder
{
	height: 75%;
	width: 100%;
	background: rgb(242,242,242);
}
.titlelink
{
	height: 25%;
	width: 100%;
	background: rgb(70,70,70);
}
.titlelink div
{
	height: 100%;
}
.morebtn
{
	background: rgb(247, 147, 29);
	color: #fff;
	vertical-align: middle;
}
.lrg .morebtn
{
	padding-top: 2em;
}
.mdm .morebtn
{
	padding-top: 0.7em;
}
.sml .morebtn
{
	padding-top: 0.5em;
}


.morebtn *
{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
}
.morebtn a span
{
	color: #fff;
}




/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*////////////////  Specific  /////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


#specific
{
	min-height: 500px;
	background-image: url('../img/bg2.jpg');
	background-size: cover;
}
.advert
{
	min-height: 700px;
	width: 100%;
	background-color: rgba(200,200,200,0.65);
}
.advertPanel
{
	padding-top: 170px;
	padding-bottom: 170px;
}
.advertPanel p
{
	text-align: justify;
	padding: 1em 4em;
	font-family: 'Raleway',sans-serif;
	font-weight: 200;
	font-size: 1.2em;
}
.advertPanel h3
{
	font-family: 'Raleway',sans-serif;
	font-size: 3em;
	padding: 0.5em 3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.toshop
{
	color: #fff;
	padding: 1em 2em;
	background-color: rgba(100,100,100,0.1);
	border: 1px solid white;
	display: inline-block;
	margin-top: 140px;
}
.toshop:hover
{
	background-color: rgb(247, 147, 29);
	border-color: rgb(247, 147, 29);
}

.Stuck
{
	position: fixed;
	top: 0;
	left: 0;
}




/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*//////////////////  Footer  /////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


#footer
{
	min-height: 400px;
	background-color: #414141;
}