

nav
{
	position: fixed;
	width: 80%;
	height: 5em;
}
.blok
{
	-webkit-box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.43);
-moz-box-shadow:    1px 1px 11px 0px rgba(50, 50, 50, 0.43);
box-shadow:         1px 1px 11px 0px rgba(50, 50, 50, 0.43);
height: 50px;
width: 50px;
margin: 1px;
display: inline-block;
}
.blok:nth-child(odd):hover
{
	transform:translateX(5px);
	-webkit-transform:translateX(5px);
	-moz-transform:translateX(5px);
	-o-transform:translateX(5px);
}
.blok:nth-child(even):hover
{
	transform:translateY(5px);
	-webkit-transform:translateY(5px);
	-moz-transform:translateY(5px);
	-o-transform:translateY(5px);
}